.mainView {
  position: absolute
  width: 300px
  top: 20px
  left: 50%
  margin-left: -150px

  font-size: 20px
  color: black

  .navView {
    position: absolute
    background: rgba(0, 0, 0, .5)
    top: 0
    left: 0
    right: 0
    height: 30px
    padding: 10px

    .button {
      margin-right: 5px
    }
  }

  .mainContentView {
    position: absolute
    top: 50px
    left: 0
    right: 0
    bottom: 50px
  }
}