.button {
  appearance: none
  border: 1px solid rgb(50, 50, 50)
  border-radius: 5px
  font-size: 15px
  background: white
  padding: 5px

  &:active {
    background: black
    color: white
  }

  &.selected {
    background: blue
    color: white
  }
}